<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.dictionaries.mapper.BoxSizeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="boxSizeResultMap" type="org.springblade.modules.dictionaries.entity.BoxSize">
        <id column="id" property="id"/>
        <result column="size_type" property="sizeType"/>
        <result column="state" property="state"/>
        <result column="standard" property="standard"/>
    </resultMap>


    <select id="selectBoxSizePage" resultMap="boxSizeResultMap">
        select * from fms_box_size where is_deleted = 0
    </select>

</mapper>
